.firstUl {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    justify-items: center;
    background: #ffff;
    width: auto;
    margin: 1% auto;

}

.cityname {
    font-size: 30px;
    align-self: center;

}
.clouds {
    align-items: center;
    font-size: 20px;

}

.tempirature {
    font-size: 20px;
    align-self: center;

}